<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enigm@</title>
    <link rel="icon" type="image/x-icon" href="#">
    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body style="background-color: black;">
    <div class="">
        <div class="row">
            <div class="col-sm-9 col-md-8 text-center d-flex justify-content-center align-items-center">
                <h1 style=" font-size: 80px;">3N1GM@</h1>
            </div>
            <div class="col-sm-3 col-md-4 text-center d-flex justify-content-center align-items-center">
                <i class="bi bi-patch-question-fill" style=" font-size: 80px;"></i>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm text-bg-success te p-3">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="/login">Ingresa</a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item"style="font-weight: bold">
                    <a class="nav-link" style="font-size: 20px;" aria-current="page" href="/">Inicio</a>
                  </li>
                  <li class="nav-item" style="font-size: 20px;">
                    <a class="nav-link" style="font-weight: bold" href="#">Comparti</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <section class="d-flex text-center text-bg-dark p-3">
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-2">

        </div>
        <div class="col-lg-4 col-md-8 m-2 p-3 bg-black text-success text-center ">
            <form action="mailto:enigma2024producc@gmail.com" method="post" enctype="text/plain">
                <div class="m-2">
                    <h2 class="titulo">Contactanos</h2>
                </div>
                <div>
                    <label for="nombreUsuario" class="form-label nombreUsuario">Mail</label>
                    <input type="text" name="nombre" class="form-control text-center"  id="mailContacto"  required>
                </div>
                <div class="mb-2">
                    <label for="apellidoUsuario" class="form-label apellidoUsuario">Nombre</label>
                    <input type="text" name="apellido" class="form-control text-center" id="nombreContacto" required>
                </div>
                <div class="mb-2 justify-content-center align-items-center">
                    <label for="mensajeProcesado" class="form-label">Mensaje</label>
                    <textarea class="form-control justify-content-center align-items-center text-center" id="mensajeProcesado" name="mensajeContacto" rows="6"placeholder="....Por favor ingresa el comentario que desees, se enviara una respuesta lo antes posible...."></textarea>
                </div>
                <div class="mb-6 p-3">
                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-2">     
        </div>
    </div>
</body>
</html>