<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Palaoro Nayla">
    <title>Enigm@</title>
    <link rel="icon" type="image/x-icon" href="#">
    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script defer type="text/javaScript" src="script2.js"></script>
</head>

<body>
    <div class="container-fluid text-center text-bg-dark p-3">
        <div class="row">
            <div class="col-sm-9 col-md-8 text-center d-flex justify-content-center align-items-center">
                <h1 style=" font-size: 80px;">3N1GM@</h1>
            </div>
            <div class="col-sm-3 col-md-4 text-center d-flex justify-content-center align-items-center">
                <i class="bi bi-patch-question-fill" style=" font-size: 80px;"></i>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm text-bg-success p-3">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="/">Cerrar sesion</a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"style="font-weight: bold">
                        <a class="nav-link" style="font-size: 20px;" aria-current="page" href="#Contactanos">Contactanos</a>
                    </li>
                    <li class="nav-item" style="font-size: 20px;">
                        <a class="nav-link" style="font-weight: bold" href="#">Comparti</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
        <section class="row justify-content-center text-center p-3">
            <div class="p-3 mb-2 bg-black text-success text-center d-flex justify-content-center align-items-center col-md-6" >
                <form action="/home" method="post" id="mensajeForm">
                    <div>
                        <h2 class="titulo" id="tituloFormulario">La aventura nos aguarda</h2>
                    </div>
                    <div class="mb-2">
                        <label for="mensajeSinProcesar" class="form-label">Ingresa tu mensaje</label>
                        <textarea class="form-control" name="mensajeInicial" id="mensajeSinProcesar" rows="3" required>Ingresa aqui el texto que deseas cifrar o descifrar</textarea>
                    </div>
                    <div class="mb-2">
                        <label for="claveCifrado" class="form-label claveCifrado">Clave del Cifrado</label>
                        <input class="form-control" type="text" name="claveCifrado" id="claveCifrado" required>
                    </div>
                    <div class="mb-2">
                        <input type="radio" class="btn-check" name="tipoCifrado" id="Atbash" value="Atbash" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="Atbash">Atbash</label>
                        <input type="radio" class="btn-check" name="tipoCifrado" id="Cesar" value="Cesar" autocomplete="off">
                        <label class="btn btn-outline-success" for="Cesar">Cesar</label>
                    </div>
                    <div class="btn-group mb-2" role="group" aria-label="Default button group">
                        <button type="button" id="cifrar" class="btn btn-success">Cifrar</button>
                        <button type="button" id="descifrar" class="btn btn-success">Desifrar</button>
                        <button type="button" id="cancelar"class="btn btn-success">Borrar</button>
                    </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-2">
                            <label for="mensajeProcesado" class="form-label">Mensajes procesados</label>
                            <textarea class="form-control" id="mensajeProcesado" name="mensajeProcesado" rows="6">....Aqui se podra leer el mensaje ya procesado....</textarea>
                        </div>
                        <div class="btn-group" role="group" aria-label="Default button group">
                            <button type="submit" id="guardar" class="btn btn-success">Guardar</button>
                        </div> 
                    </div>
                </form>
        </section>
        <section class="row justify-content-center text-center p-3">
        <div>
            <h3 class=""style="margin: 15px;">Mensajes guardados</h3>
        </div>
        <div>
            <table class="table table-success table-striped" id =mensajesPrevios>
                <tbody>
                    <tr>
                        <td>Clave</td>
                        <td>Cifrado</td>
                        <td>Mensaje</td>
                        <td>Fecha</td>
                        <td><i class="bi bi-patch-question-fill"></i></td>
                    </tr>
                </tbody>            
            </table>
         </div>
        </section>

    <!--footer-->
        <div class="row" id="Contactanos">
            <div class="col-2 col-md-1 mb-2">
                <a href="https://api.whatsapp.com/send?phone=5492215900920">
                    <i class="bi bi-whatsapp" style=" font-size: 30px; color: rgb(50, 187, 91);"></i>
                </a>
            </div>
            <div class="col-2 col-md-1 mb-2">
                <a href="mailto:nayluclash@gmail.com">
                    <i class="bi bi-envelope-at-fill"style=" font-size: 30px; color: rgb(50, 187, 91);"></i>
                </a>  
            </div>
            <div class="col-2 col-md-1 mb-2">
                <a href="https://www.facebook.com/profile.php?id=100080486501874&mibextid=ZbWKwL">
                    <i class="bi bi-facebook" style=" font-size: 30px; color: rgb(50, 187, 91);"></i>
                </a>        
            </div>
            <div class="col-2 col-md-1 mb-2">
                <a href="https://www.instagram.com/palabrobeltran?utm_source=qr&igsh=MTJwMjZzaXFlMTdsNQ==">
                    <i class="bi bi-instagram" style=" font-size: 30px; color: rgb(50, 187, 91);"></i>
                </a>
            </div>
            <div class="col-2 col-md-1 mb-2">
                <a href="https://www.linkedin.com/in/nayla-palaoro-beltran-a688b51ba?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                    <i class="bi bi-linkedin" style=" font-size: 30px; color: rgb(50, 187, 91);"></i>
                </a>            
            </div>
        </div>
    </div>
</body>
</html>